{% extends "base.html" %}

{% block content %}
    <h1>View {{ model_name }} model data <span class="badge">{{ objects|length }}</span></h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>number</th>
            <th>id</th>
            <th>name</th>
            <th>created by</th>
            <th>created on</th>
            <th>last updated by</th>
            <th>last updated on</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for obj in objects %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.create_uid }}</td>
                <td>{{ obj.create_date }}</td>
                <td>{{ obj.write_uid }}</td>
                <td>{{ obj.write_date }}</td>
                <td><a href="{{ url_for('view_details', model_name=model_name, row_id=obj.id) }}">detail</a></td>
                <td>
                    <a href="{{ url_for('delete_row', model_name=model_name, row_id=obj.id) }}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}